 
*{ 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	 }

.rectangles {
	outline: 5px solid black;

margin: 50px;

text-align: center;
position: relative; }


.rectangle { 



height: 100px;

outline: 1px solid black; }

.one { background-color: purple; }

.two { background-color: pink; }

.three { background-color: lightgoldenrodyellow; }

.four { background-color: violet; }

.five { background-color: rosybrown; }